accelerate==0.26.1
bitsandbytes==0.41.2.post2
chroma-hnswlib==0.7.3
chromadb==0.4.24
faiss-cpu==1.8.0
guidance==0.1.10
hdbscan==0.8.33
IProgress==0.4
ipywidgets==8.1.2
langchain==0.1.1
langchain-community==0.0.20
langchain-core==0.1.23
langchain-text-splitters==0.0.1
langcodes==3.3.0
langsmith==0.0.87
llama_cpp_python==0.2.26
numba==0.59.0
numpy==1.26.4
pandas==2.2.1
peft==0.7.1
plotly==5.20.0
sentence-transformers==2.5.1
spacy==3.7.4
streamlit==1.32.2
tokenizers==0.15.2
transformers==4.37.2
umap-learn==0.5.5